$r-640:640px;
$r-768:768px;
$r-992: 992px;
$r-1200: 1200px;
$r-1366: 1366px;
@media (min-width: $r-1366){
    .home__banner{
      
        .row{
            
            .circle-image{
                img{
                    transform: translate(10px, -50px);
                    width: 100%;
                    max-width: 170px;
                }
            }
            
        }
    }

    // .home__banner{
    //     margin-top: 150px;
    //     position: relative;
    //     width: 100%;
    //     .row {
    //         margin-top: 1.5rem;
    //         display: flex;
    //         gap: 3rem;
    //         align-items: center;
    //         justify-content: center;
    //         position: relative;
    //         width: 100%;
    //         .content{
    //             position: relative;
    //             flex: 1 0;
    //         h1{
    //             width: 600px;
    //             font-family: Urbanist;
    //             font-size: 93px;
    //             font-weight: 500;
    //             color: #000;
    //             }
    //         }
    
    //     .headline-image{
    //         img{
               
    //             max-width: 450px;
    //             top: 44px;
    //             position: absolute;
    //             right: -46px;
    //             z-index: -1;
    //             bottom: -96px;
    //           }
    //     }
    //     .circle-image{
    //         position: absolute;
    //         top: 0;
    //         img{
    //             transform: translate(94px, -60px);
    //             top: 0;
    //             bottom: 27px;
    //             // max-width: 120px;
    //             width: 100%;
    //         }
    //     }
    //     .right-image{
    //         img{
    //             max-width: 120px;
    //             top: 7px;
    //             position: absolute;
    //             right: -46px;
    //             z-index: -1;
    //             width: 100%;
    //         }
            
    //     }
    //     .slide_down{
    //         position: absolute;
    //         right: -50px;
    //         display: flex;
    //         align-items: center;
    //         gap: 1rem;
    //         transform: rotate(90deg);
    //         top: 230px;
    //         animation: jumpInfinite 1.5s infinite;
    //         img{
    //             width: 35px;
    //         }
           
    //         &:hover{
    //             color: $orange;
    //         }
            
    //     }
    //     @keyframes jumpInfinite {
    //         0% {
    //           margin-top: 0;
    //         }
    //         50% {
    //           margin-top: 20px;
    //         }
    //         100% {
    //           margin-top: 0;
    //         }
    //       }
    //     .triangle-down{
    //         position: absolute;
    //         bottom: 0;
    //         img{
    //            transform: translate(95px, -2px);
    //            width: 100%;
    //         }
    //     }
    //     .headline-title{
    //         position: absolute;
    //         left: 0;
    //         right: 0;
    //         z-index: -1;
    //         transform: translate(-205px, 0);
    //         img{
    //             object-fit: contain;
    //             max-width: 100%;
    //         }
    //     }
    //     .content__image {
    //         position: relative;
    //         flex: 1 0;
    //         display: flex;
    //         justify-content: end;
     
    //         img{   
    //             position: relative;
    //             object-fit: contain;
    //             max-width: 100%;
    //         }
    
    //     }
    //     }
    //  }
}
@media (max-width: $r-1200){
section{
    padding:4rem 5%;
 }

 .header{
    padding:2rem;
 }

 section{
    padding:3rem 2rem;
 }
 .steps_item{
  .grids{
      .item-content{
          img{
              width: 100%;
          }
      }
  }
 }
 .steps_item__two{
  .grids{
      .item-content{
          &:before{
              width: 100%;
              display: none;
          }
          img{
              width: 100%;
          }
      }
  }
 }
 .our_blogs{
  .blogs__wrapper {
      .blog-1 .content-box{
          width: 100%;
          left: 14px;
      }
  }
 }
}
@media (max-width: $r-992){
 html{
      font-size: 55%;
   }

   .header{
      padding:2rem;
   }

   section{
      padding:3rem 2rem;
   }

   .home__banner{
    position: relative;
    width: 100%;
    
  .row {
        .content{
                h1{
                    font-size: 45px;
                    width: 100%;
                }
        }
        .content__image{
            img{
                width: 100%;
            }
        }
    }

}
   .steps_item{
    .grids{
        .item-content{
            &:before{
                width: 100%;
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
   }
   .steps_item__two{
    .grids{
        .item-content{
            &:before{
                width: 100%;
                display: none;
            }
            img{
                width: 100%;
            }
        }
    }
   }
   .our_blogs{
    .blogs__wrapper {
        .blog-1 .content-box{
            width: 100%;
            left: 14px;
        }
    }
   }
   .dreams-section{
    .dreams-sec{
        .dreams-content p {
            font-size: 1.5rem;
        }
    }
   }  
   

    footer {
        .footer-wrap {
            .section-two {
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }
}
@media (max-width: $r-768){
    .animated {
        animation: none !important;
    }
    .header{
       display: flex;
       align-items: center;
        #hamberger-menu-btn{
            display: none;
        }
       
        .navbar-menu{
            #menu-btn{
                display: block;
                font-size: 32px;
            }
        .navbar{
            position: fixed;
         top:0; right:-105%;
         width: 30rem;
         background: #fff;
         height: 100%;
         display: flex;
         flex-flow: column;
         justify-content: center;
         z-index: 1200;
         #close-navbar{
            display: block;
         }
         &.active{
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            right: 0;
         }
         a{
            display: block;
            margin:1rem 0;
            text-align: center;
            font-size: 1.8rem;
         }
        }
        #menu-btn{
           i{font-size: 4rem;}
        }
    }
       
    }

    .home__banner{
        position: relative;
        width: 100%;
        margin-top: 50px;
        .row {
          flex-direction: column;
          .content{
            h1{
                font-size: 45px;
                width: 100%;
            }
           }
           .content__image{
                img{
                    width: 100%;
                }
                &::before{
                    display: none;
                }
            }
            .headline-image{width: 100%;}
            .triangle-down,.circle-image,.right-image{display: none;}
        }
    
    }
    .steps{
        .steps-container{
            h2{
                font-size: 2rem;
            }
            h4{
                font-size: 1.6rem;
            }
        }
    }
    .dreams-section {
        .dreams-sec{
            grid-template-columns: repeat(1, 1fr);
            .dreams-content{
                width: 100%;
                h3{
                    font-size: 30px;
                   font-weight: 800;
                }
                p{
                    font-size: 16px;
                }
            }
            .dreams-img{
                text-align: center;
                img{width: 100%;}
            }
        }
    }

   .steps_item{
    padding: 3rem 0 2rem 0;
    .grids{
        grid-template-columns: repeat(1, 1fr);
        img{
            width: 100%;
        }
        .item-image{
            h2{
                font-size: 2.375rem;
            }
            .line {
                margin-top: .5rem;
                margin-bottom: 1rem;
            }
        }
    }
   }
    .steps_item__two{
        padding: 3rem 0 2rem 0;
        .grids {
            grid-template-columns: repeat(1, 1fr);
            img{
                width: 100%;
            }
            .item-content{
                &::before {
                    display: none;
                }
            }
            .item-image{
                h2{
                    font-size: 2.375rem;
                }
                .line {
                    margin-top: .5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .sustainability__sec{
        .row{
            grid-template-columns: repeat(1, 1fr);  
            .content-image {
                margin-top: 3rem;
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }
    }
    .our_blogs{
        .blogs__wrapper{
            grid-template-columns: repeat(1, 1fr); 
            .blog-1{
                .image{
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .content-box{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .sustainability__sec{
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1.6rem;
        }
    }
    .paralax{
        height: 540px;
        .paralax-window{
            .paralax-wrapper{
                p{
                    font-size: 1rem;
                }  
            }
            
        }
    }
    .our_blogs{
        h2{
            font-size: 2rem;
        }
    }
    .story_content{
        .story-shadow, .story-img-shadow{
        display: none;
        }
    }

    footer{
        .footer-wrap{
            flex-direction: column;
            .logo img{
                max-width: 130px; width: 100%;
            }
            .section-two{
                
                margin-top: 1.5rem;
                flex-direction: column;
                a{
                    padding: 0;
                }
            }
        }
    }
.process__desc{
    font-size: 1.75rem;
    margin: 0 0;
}
.our-process{
    .process-text h2{font-size: 2rem;}
} 
.other-links a {font-size: 14px;}

.blog__sec{
    padding: 1rem 0;
    position: relative;
    .blog__sec__wrapper{
        grid-template-columns: repeat(1, 1fr);
        width: 100%; 
    }
    .blog-title{
        h2{
        font-size: 2rem;
        text-align: center;
    }
    }
}

      

}

@media (max-width: $r-640){

}