  @import './mixins.scss';
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Urbanist:wght@300;800&display=swap');
  @mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:2rem;
 }
  @mixin titleText($titleSize) {
    font-size: $titleSize;
    font-weight: 500;
    text-transform: capitalize;
 }
 
 @mixin graphText($graphSize) {
    font-size: $graphSize;
    line-height: 1.5;
    font-weight: 400;
    font-family: Jost;
    font-size: 1.2rem;
 }


*{
   font-family: 'Urbanist', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}
html {
    font-size: 90.5%;
    overflow-x: hidden;
  }
img{
    user-select: none;
 }
 ul,li{
    list-style: none;
 }

 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 6%;
    z-index: 1000;
    background: #fff;
    .logo{
        img{max-width: 150px;}
    }
    &.active {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }
    .navbar-menu{
        display: flex;
       
        .navbar{
            padding-right: 1.25rem;
            display: flex;
            align-items: center;
            #hamberger-menu-btn{padding-left: 1rem;}
            .fas{
             font-size: 1.9rem;
            }
            a{
                font-size: 1.125rem;
                color: $black;
                text-transform: capitalize;
                text-decoration: none;
                padding: 12px 0.5rem;
                display: block;
                transition: all 0.6s ease-out;
                &:hover{
                    color: $orange;
                    background-color: $navhover;
                }
                &.active{
                    font-weight: 500;
                    color: $orange !important;
                    text-decoration: underline;
                }
               
            } 

            #close-navbar{
                position: absolute;
                top:1.5rem; right:2rem;
                font-size: 4rem;
                cursor: pointer;
                color:$black;
                display: none;
       
                &:hover{
                   transform: rotate(90deg);
                   color: $orange;
                }
             }
             .dropdown {
                position: relative;
                display: inline-block;
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #fff;
                    min-width: 160px;
                    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    a {
                        color: $black;
                        padding: 12px 1rem;
                        text-decoration: none;
                        display: block;
                        transition: all 0.6s ease-out;
                        &:hover {
                            color: $orange;
                            background-color: $navhover;
                            border-radius: 0;
                            
                        }
                    }
                }
                &:hover {
                    .dropdown-content {
                        display: block;
                    }
                }
            }
        }
       
            .icons{
                .fa-bars{
                    font-size: 1.5rem;
                }
            }
        #menu-btn{
            display: none;
         }
    }
    

 }
 @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }
 .home__banner{
    margin-top: 150px;
    position: relative;
    width: 100%;
    .row {
        margin-top: 1.5rem;
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
    .content{
        position: relative;
        flex: 1 0;
       h1{
        width: 600px;
        font-family: Urbanist;
        font-size: 93px;
        font-weight: 500;
        color: #000;
        }
    }

    .headline-image{
        img{
           
            max-width: 450px;
            top: 44px;
            position: absolute;
            right: -46px;
            z-index: -1;
            bottom: -96px;
          }
    }
    .circle-image{
        position: absolute;
        top: 0;
        img{
            transform: translate(53px, -50px);
            top: 0;
            bottom: 27px;
            width: 100%;
            max-width: 170px;
        }
    }
    .right-image{
        img{
            max-width: 120px;
            top: 7px;
            position: absolute;
            right: -46px;
            z-index: -1;
            width: 100%;
        }
        
    }
    .slide_down{
        position: absolute;
        right: -50px;
        display: flex;
        align-items: center;
        gap: 1rem;
        transform: rotate(90deg);
        top: 230px;
        animation: jumpInfinite 1.5s infinite;
        img{
            width: 35px;
        }
       
        &:hover{
            color: $orange;
        }
        
    }
    @keyframes jumpInfinite {
        0% {
          margin-top: 0;
        }
        50% {
          margin-top: 20px;
        }
        100% {
          margin-top: 0;
        }
      }
    .triangle-down{
        position: absolute;
        bottom: 0;
        img{
        //     max-width: 265px;
        //    transform: translate(95px, -2px);
    //        width: 100%;
    //     max-width: 307px;
    // transform: translate(46px, 3px);
    width: 100%;
    max-width: 307px;
    transform: translate(48px, 6px);
        }
    }
    .headline-title{
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translate(-205px, 0);
        img{
            object-fit: contain;
            max-width: 100%;
        }
    }
    .content__image {
        position: relative;
        flex: 1 0;
        display: flex;
        justify-content: end;
 
        img{   
            position: relative;
            // max-width: 400px;
            object-fit: contain;
            width: 100%;
        }

    }
    }
 }
//  [data-aos="my-fade-up"] {
//     transform: translate3d(0, 100px, 0);
//     opacity: 0;
//     transition-property: transform, opacity;
//   }
  
//   [data-aos="my-fade-up"].aos-animate {
//     transform: translate3d(0, 0, 0);
//       opacity: 1;
//   }
 .btn{
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1rem 3rem;
    background: $orange;
    color: $black;
    cursor: pointer;
    text-transform: uppercase;
    transition:.2s linear;
    font-family: Jost;
    font-size: 1.118rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.9px;
    text-align: center;
    color: $black;

    &:hover{
        opacity: 0.8;
    }
}

.dreams-section{
    padding: 3rem 0;
    .dreams-sec{
        
        max-width: 1120px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 45px;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        .dreams-content{
            width: 580px;
          h3{
            font-family: Urbanist;
            font-size: 80px;
            font-weight: 500;
            line-height: 1;
            color: $title;
          } 
          .line{
            margin-top: 27px;
            margin-bottom: 37px;
            margin-right: 13px;
            margin-left: 7px;
            border: solid 0.5px $line;
          } 
          p{
            font-family: Jost;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5;
            color: $black;
          }
        }
        .dreams-img {
            img{
                max-width: 500px;
                object-fit: contain;
                width: 100%;
            }
        }
    }
}


.steps{
    padding: 3rem 0;
    .steps-container{
      max-width: 1120px;
      margin: auto;
      align-items: center;
      justify-content: center;
      h2{
        @include titleText(5rem);
        text-align: center;
        color: $title;
      }
      h4{
        @include titleText(2.5rem);
        text-align: center;
        color: #939598;
        margin-bottom: 36px;
      }
      p{
        @include graphText(1.75rem);
        color: $black;
        text-align: center;
        font-family: Jost;
        max-width: 1200px;
      }
    }
}

.steps_item{
    padding: 3rem 0 6rem 0;
    position: relative;

    .grids{
        @include grid(6rem);
        max-width: 1120px;
        margin: auto;
        gap: 3rem;
        .item-content{
            position: relative;
            img{
                width: 100%;
                max-width: 540px;
                object-fit: contain;
                // clip-path: polygon(0% 0%, 0 66%, 25% 100%,25% 100%, 100% 99%, 100% 0%);
                // clip-path: polygon(0 0, 48% 0, 100% 0, 100% 99%, 65% 100%, 33% 100%, 0 63%);
            }
        }
        .item-image{
            h2{
                @include titleText(3.375rem);
                font-family: Urbanist;
                font-weight: 300;
                
                span{
                    font-weight: 800;
                    color: $orange;
                    margin-left: 10px;
                }
            }
            h4{
                @include titleText(2rem);
                font-family: Urbanist;
                font-weight: 500;
                line-height: 1.29;
                color: $orange;
                margin-bottom: 1.688rem;
            }
            .line{
                margin-top: 10px;
                border: solid 0.5px #898989;
                margin-bottom: 10px;
            }
            p{
                @include graphText(1.2rem);
                font-family: Jost;
                line-height: 1.5;
                color: $black;
            }
        }
    }
}


.steps_item__two{
    padding: 3rem 0;
    position: relative;

    .grids{
        @include grid(6rem);
        max-width: 1120px;
        margin: auto;
        gap: 3rem;
        .item-content{
            position: relative;
            img{
                max-width: 540px;
                width: 100%;
                object-fit: contain;
            }
        }
        .item-image{
            h2{
                @include titleText(3.375rem);
                font-family: Urbanist;
                font-weight: 300;
                span{
                    font-weight: 800;
                    color: $orange;
                    margin-left: 10px;
                }
            }
            h4{
                @include titleText(2.125rem);
                font-family: Urbanist;
                font-weight: 500;
                line-height: 1.29;
                color: $orange;
                margin-bottom: 1.688rem;
            }
            .line{
                margin-top: 10px;
                border: solid 0.5px #898989;
                margin-bottom: 10px;
            }
            p{
                @include graphText(1.75rem);
                font-family: Jost;
                line-height: 1.5;
                color: $black;
            }
        }
    }
}

.paralax{
    margin-top: 3rem;
    background-image: url(../assets/images/sustainability_02.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    height: 540px;
    .paralax-window{
        max-width: 1120px;
        margin: auto;
        .paralax-wrapper{
            background-color: #fff;
            padding: 4rem 4rem;
            color: #000000;
            max-width: 600px;
            position: relative;
            top: 95px;
            opacity: 0.9;
    
            p{
               margin-top: 30px;
                @include graphText(28px);
                font-family: Jost;
                font-size: 28px;
            }
        }
    }
    
}

.sustainability__sec{
    padding: 3rem 0;
    h2{
        @include titleText(5rem);
        font-family: Urbanist;
        text-align: center;
        color: $title;
    }
    h4{
        @include graphText(2.5rem);
        font-family: Urbanist;
        font-weight: 500;
        text-align: center;
        color: $subtitle;
        z-index: 1;
    }
    .row{
        @include grid(6rem);
        max-width: 1120px;
        margin: 0 auto;
        .content{
            margin-top:28px;
            p{
                @include graphText(1.75rem);
                color: $black;
                font-family: Jost;
            }
        }
        .content-image{
            max-width: 450px;
            width: 100%;
            img{
                width: 100%;
                position: relative;
                bottom: 40px;
                z-index: -1;
            }
        }
    }
    
}

.our_blogs{
    padding: 3rem 0;
    h2{
        @include titleText(5rem);
        font-family: Urbanist;
       text-align: center;
       color: $title;
       margin-bottom: 37px;

    }

    .blogs__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 31px;
        max-width: 1120px;
        margin: auto;

        .blog-1{
           position: relative;
           .image{
            transition:.2s linear;
             overflow: hidden;
                img {
                    width: 100%;
                    object-fit: contain;
                    transition: all .2s linear;
                }
           }
          .content-box{
            background-color: #fff;
            border-left: 5px solid $orange;
            border: solid 0.5px #c2c1c1;
            padding: 2rem 1rem;
            width: 298px;
            position: relative;
            left: 55px;
            z-index: 1;
            bottom: 36px;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0; 
                height: 100%;
                width: 10px;
                border-left: 2px solid $orange; 
            }
            p{
               @include graphText(1.5rem);
               color: $black;
            }
            .fas{
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: end;
                color: #ff703f;
                position: relative;
                top: 18px;
            }
          }
          &:hover img{
            transform: scale(1.1);
            }
            
        }
       
    }
}
.blog__sec{
  .content-box{

  }
}
.blog__sec{
    padding: 3rem 0;
    position: relative;
    .blog__sec__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        max-width: 1120px;  
        margin: 0 auto;
        a{
            text-decoration: none;
            color: $black;
        }
        .blog__item{
            .image{
                img{
                    width: 100%;
                    object-fit: contain;
                    transition: all 0.2s linear;
                }
            }
            
        }
        .content-box{
            padding: 1rem 0.5rem;
            width: 100%;
            .date{
              span{
                font-size: 1rem;
                font-family: 'Jost', sans-serif;
               font-weight: 600;
               margin-bottom: 20px;
              }  
            }
            h4{
                margin-top: 10px;
                font-size: 1.6rem;
                margin-bottom: 10px;
                color: $orange;
            }
            p{
                @include graphText(1.2rem);
                font-family: 'Jost', sans-serif;
            }
        }
    }
}

.blog__desc{
    padding: 3rem 0;
    .blog-title{
        h2{
        font-size: 3.2rem;
        text-align: center;
        }
    }
    .date{
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: right;
        span{
            font-size: 1.2rem;
        }
    }
    .desc{
        p{
           @include graphText(1.7rem);
        }
        .blog_images{
            padding: 1rem 0;
        }
    }
  
    .share{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .text{
            strong{
                font-size: 1.3rem;
            }
        }
        .icons{
            margin: 0 auto;
            width: 100%;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            li{
               
                a{
                    img{
                        width: 28px;
                        border-radius: 2px;
                    }
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            
         } 
    }
}

footer{
    padding: 3rem 0;
    border-top: 1px solid $subtitle;
    .footer-wrap{
        display: flex;
        justify-content: start;
        .section-one{
            width: 100%;
            flex-direction: column;
            max-width: 500px;
            .logo{
                margin-bottom: 42px;
            }
            ul{
                align-items: center;
                justify-content: flex-start;
                display: flex;
                width: 175px;
                
              
                li{
                    width: 30px;
                    height: 30px;
                    background-color: #939598;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    margin-right: 20px;
                    a{
                        color: #fff;
                        
                    }
                    &:hover{
                        background-color: $orange;
                    }
                }
            }
        }
        .section-two{
            width: 100%;
            display: flex;
            align-items: flex-start;
            padding: 0 1rem;
            a{
                @include graphText(1.125rem);
                font-family: Jost;
                font-weight: 300;
                line-height: 3.61;
                letter-spacing: 1.8px;
                text-align: left;
                color: $black;
                text-transform: uppercase;
                padding:0 20px;
                &:hover{
                    color: $orange;
                }
            }
        }

    }

}

.other-links{
    padding: 15px 0;
    background-color: #ddd;
    a{
        font-size: 18px;
        font-family: Jost;
        color: $black;
        margin-right: 15px;
        &:hover{
        color: $orange;
        }
    }
}

//ourstory page
.our-story{
    margin-top: 60px;
    position: relative;
    img{width: 100%;}
    &::before{
        left: -100px;
        content: "";
        width: 100%;
        background: url(../assets/images/shadow-banner.png);
        position: absolute;
        height: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        top: 128px;
        background-size: contain;
    }

}

.story_content{
   
    padding-top: 95px;
    position: relative;
    .story-image{
        max-width: 950px;
        margin: 0px auto;
      
        img{width: 100%;}

        h2{
            margin-top: 10px;
         font-size: 40px;
         font-weight: 400;
         margin-bottom: 10px;
        }
        h4{
            font-size: 24px;
            color: $orange;
            margin-bottom: 10px;
            font-weight: 500;
        }
        p{
            font-size: 1.2rem;
            font-family: Jost;
            line-height: 1.5;
            color: $black;
          }
    }
    .story-img-shadow{
        z-index: -1;
        max-width: 400px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-8%, 144px);
        display: block;
    }
    .story-shadow{
        z-index: -1;
        max-width: 400px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(14%, 144px);
        display: block;
    }
}
.story-social_sec{
padding-bottom: 50px;
padding-top: 50px;
}
.steps_item__two,.steps_item {

    h3{
        @include titleText(2.125rem);
        font-family: Urbanist;
        font-weight: 500;
        line-height: 1.29;
        color: $orange;
        margin-bottom: 5px;
    }
}

//our process page
.process__desc{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: Jost;
    color: $black;
    margin-top: 60px;
    text-align: center;
}

.our-process{
position: relative;
margin-top: 60px;
img{width: 100%;}
&::before{
    left: -100px;
    content: "";
    width: 100%;
    background: url(../assets/images/shadow-banner.png);
    position: absolute;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    top: 35%;
    background-size: contain;
}
    .process-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);  
        h2{
            font-size: 3rem;
            color: #fff;
            font-weight: 600;
            text-align: center;
        }
    }
}

//services
.services_desc{
    margin-bottom: 3rem;
    h2{
    @include titleText(2.5rem);
    margin-bottom: 15px;
    color: $black;
    }
    h4{
    font-size: 1.5rem;
    color: $orange;
    margin-bottom: .5rem;
    font-weight: 500;
    }
    .services__description{
        max-width: 1020px;
        margin: 0 auto;
        margin-bottom: 40px;
        p{
            @include graphText(1.2rem);
            font-family: Jost;
           line-height: 1.5;
           margin-bottom: 10px;
        }
    }
    .services__image{
       @include grid(20rem);
        box-sizing: border-box;
        gap: 0.5rem;
        margin-top: 2rem;
        .item img{
            max-width: 100%;
        }
    }
    
}
.material_section{
    max-width: 1120px;
    margin: 0 auto;
    .dreams-sec{
        align-items: flex-start;
    }
}
.dreams-section{
    h2{
        padding-bottom: 2rem;
        @include titleText(3rem);
        font-weight: 600;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}
.material_refine {
    max-width: 1120px;
    margin: 0 auto;
    .grids{
        justify-content: center;
        align-items: center;
        .item-image{
            h4{
                @include titleText(2rem);

            }
        }
        
    }
    .description{
        p{
            @include graphText(1.5rem);
           margin-bottom: 1rem;
        }
    }
}